.search-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between
}

.search-input {
    padding: 8px 12px;
    font-size: 14px;
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
}

.search-input:focus {
    border-color: #fac30f;

}