.search-container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
    max-width: 1200px; 
    margin: 0 auto; 
  }

  .search-container h2 {
    flex-grow: 1; 
  }

.search-input {
    padding: 8px 12px;
    font-size: 14px;
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
}

.search-input:focus {
    border-color: #fac30f;

}