
.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f6f7f8;
  }

  
  .project-table-container {
    width: 100%;
    overflow-x: auto;
    margin-top: 20px;
  }
  header {
    background-color: #e7e7e7;
    padding: 10px 0;
    text-align: center;
  }
  .image-header {
    max-width: 100px;
    display: flex;
    padding: 10px 0 5px 15px;
  }
  h2 {
    color: #4f5052;
    font-size: 24px;
    margin-bottom: 20px;
  }


 

.filters {
    display: flex;
    gap: 5px;
    align-items: center;
  }
  
 
.filter-button {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;  
}


.filter-button.active {
  background-color: #fac30f;
  border-color: #fac30f;
  color: white; 
}


.filter-button:hover:not(.active) {
  background-color: #f0f0f0;
}


.filter-button.active:hover {
  background-color: #fac30f; 
  border-color: #fac30f; 
}
  


@media (max-width: 768px) {
    .filters {
      width: 100%;
      justify-content: flex-start;
    }
  
    .item-container {
      flex-direction: column;
      align-items: center;
    }
  
  }
  
  @media (max-width: 480px) {
    h2 {
      font-size: 18px;
    }
  
    .project-table-container {
      overflow-x: scroll;
    }

  }